# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
#ignore .DS_Store files 
.DS_Store

#ignore all of the raw illumina data, please no.
*.fq.gz
#please ignore any compressed files lets not make this difficult. I hate undoing commits because it's trying to LFS a freaking gig sized file.

*.gz
#ignore these files specifically
refseq/transcript-ref/TrR.v5.updated.gff
refseq/transcript-ref/backup_of_TRv5_transcript.gtf.bu
refseq/transcript-ref/TrR.v5.renamed_reformated-1.gtf
trimmomatic/Trimmomatic-0.39/LICENSE
trimmomatic/Trimmomatic-0.39/trimmomatic-0.39.jar
trimmomatic/Trimmomatic-0.39/adapters/NexteraPE-PE.fa
trimmomatic/Trimmomatic-0.39/adapters/TruSeq2-PE.fa
trimmomatic/Trimmomatic-0.39/adapters/TruSeq2-SE.fa
trimmomatic/Trimmomatic-0.39/adapters/TruSeq3-PE-2.fa
trimmomatic/Trimmomatic-0.39/adapters/TruSeq3-PE.fa
trimmomatic/Trimmomatic-0.39/adapters/TruSeq3-SE.fa
gffread/gffread

#actually lets ignore all guaranteed big files..
*.fa
*.fasta
*.fq
*.fastq
*.bed
*.bam
*.sam
*.gtf
*.gff
*.fna

#ignore work dir
work/*
clover_project.code-workspace
refseq/*
.vscode*

#ignore slurm reports
*.out
*.err
*.out-*
*.err-*

#ignore hidden directories of loni backup except bashhistory
.bash_logout
.bash_profile
.bashrc
.cache
.config
.emacs
.emacs.d
.kshrc
.local
.modules
.mozilla
.parallel
.pki
.python_history
.slurm
.ssh
.subversion
.thist
.thist1
.vim
.viminfo
.bash_history
